In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Good Data Stamp\v4_ka_updated.csv')

In [4]:
df = pd.DataFrame(data)

In [5]:
backup = df

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186398 entries, 0 to 4186397
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       object
 4   started_at          object
 5   ended_at            object
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: float64(4), object(10)
memory usage: 447.2+ MB

In [8]:
df.nunique()

ride_id               4186398
rideable_type               3
member_casual               2
ride_duration           19982
started_at            3678433
ended_at              3688935
start_station_name       1743
start_station_id         1743
end_station_name         1749
end_station_id           1748
start_lat              428725
start_lng              414905
end_lat                  2326
end_lng                  2327
dtype: int64

Fetch ride_ids which station name will be updated

In [9]:
replace_name = [
    "Pulaski Rd & 15th St",
"Ada St & 113th Place",
"Grace & Cicero",
"Spaulding Ave & 16th",
"Kildare & Chicago Ave",
"Rockwell St & Archer Ave\t",
"Oketo Ave & Addison",
"Lockwood Ave and Grand Ave",
"Lexington & California Ave",
"Kedzie Ave & 38th Pl",
"Lowell Ave & Armitage",
"Museum of Science and Industry"
]

In [10]:
rplc_rdid = df[(df["start_station_name"].isin(replace_name))
               | (df["end_station_name"].isin(replace_name))]

In [13]:
rplc_rdid.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\rplc_stn_name_data.csv', sep=',', index=False)

Update rows with name error

In [14]:
station_map = {
    "528": "Pulaski Rd & Lake St",
    "20129": "Ada St & 113th St",
    "21322": "Grace St & Cicero Ave",
    "21366": "Spaulding Ave & 16th St",
    "21371": "Kildare Ave & Chicago Ave",
    "21379": "Rockwell St & Archer Ave",
    "21393": "Oketo Ave & Addison St",
    "23187": "Lockwood Ave & Grand Ave",
    "23215": "Lexington St & California Ave",
    "24240": "Kedzie Ave & 38th St",
    "1524189": "Lowell Ave & Armitage Ave",
    "KA1503000074": "Griffin Museum of Science and Industry"
}

In [16]:
test_rpl = rplc_rdid

In [15]:
station = df

In [ ]:
test_rpl['start_station_name'] = test_rpl['start_station_id'].map(station_map).combine_first(test_rpl['start_station_name'])

C:\Users\username\AppData\Local\Temp\ipykernel_15328\2700381707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_rpl['start_station_name'] = test_rpl['start_station_id'].map(station_map).combine_first(test_rpl['start_station_name'])

In [19]:
test_rpl['end_station_name'] = test_rpl['end_station_id'].map(station_map).combine_first(test_rpl['end_station_name'])

C:\Users\username\AppData\Local\Temp\ipykernel_15328\3349670855.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_rpl['end_station_name'] = test_rpl['end_station_id'].map(station_map).combine_first(test_rpl['end_station_name'])

In [20]:
test_rpl

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
880,719763E6D4B90CA8,classic_bike,casual,0 days 00:45:46,2024-01-01 11:12:44,2024-01-01 11:58:30,Griffin Museum of Science and Industry,KA1503000074,Griffin Museum of Science and Industry,KA1503000074,41.791728,-87.583945,41.791728,-87.583945
985,A2353837C16F0CA5,classic_bike,member,0 days 00:07:37,2024-01-01 11:41:34,2024-01-01 11:49:11,Woodlawn Ave & 58th St,22002,Griffin Museum of Science and Industry,KA1503000074,41.789381,-87.596479,41.791728,-87.583945
1017,997C2CABD3C0DB16,classic_bike,member,0 days 00:19:24,2024-01-01 11:50:17,2024-01-01 12:09:41,Griffin Museum of Science and Industry,KA1503000074,Cottage Grove Ave & 43rd St,TA1308000023,41.791728,-87.583945,41.816499,-87.606582
1482,96D2D52FF535F736,classic_bike,casual,0 days 00:22:32,2024-01-01 14:24:14,2024-01-01 14:46:46,South Shore Dr & 67th St,KA1503000029,Griffin Museum of Science and Industry,KA1503000074,41.773643,-87.567514,41.791728,-87.583945
1719,CE1B21571B603105,classic_bike,member,0 days 00:11:02,2024-01-01 15:36:07,2024-01-01 15:47:09,Griffin Museum of Science and Industry,KA1503000074,Blackstone Ave & Hyde Park Blvd,13398,41.791728,-87.583945,41.802562,-87.590368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3727646,BC984090C876D7AD,electric_bike,member,0 days 00:02:47,2024-10-25 12:46:22,2024-10-25 12:49:09,Tripp Ave & 15th St,21363,Pulaski Rd & Lake St,528,41.860770,-87.731360,41.860397,-87.725098
3727694,6F594183E10B101B,electric_bike,member,0 days 00:01:41,2024-10-25 12:49:22,2024-10-25 12:51:03,Pulaski Rd & Lake St,528,Avers Ave & 16th St,24225,41.860397,-87.725098,41.859090,-87.721210
3834552,EE342EDA569E1E49,classic_bike,casual,0 days 00:14:50,2024-11-03 02:55:46,2024-11-03 03:10:36,Major Taylor Trail & 115th St,20207,Ada St & 113th St,20129,41.684932,-87.645289,41.687590,-87.655410
3931103,D5C7753ED52370AE,electric_bike,member,0 days 00:03:38,2024-11-12 19:04:31,2024-11-12 19:08:09,Racine Ave & 109th Pl,877,Ada St & 113th St,20129,41.694835,-87.653041,41.687590,-87.655410
3931143,2FAC24CC10EAE23C,electric_bike,member,0 days 00:03:25,2024-11-12 19:08:40,2024-11-12 19:12:05,Ada St & 113th St,20129,Elizabeth St & 115th St,874,41.687590,-87.655410,41.684942,-87.652660

Test result were success, now apply on df

In [21]:
df['start_station_name'] = df['start_station_id'].map(station_map).combine_first(df['start_station_name'])

In [22]:
df['end_station_name'] = df['end_station_id'].map(station_map).combine_first(df['end_station_name'])

In [25]:
df[(df["start_station_name"].isin(replace_name))|(df["end_station_name"].isin(replace_name))]

Empty DataFrame
Columns: [ride_id, rideable_type, member_casual, ride_duration, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng]
Index: []

In [26]:
backup = df

^ DF with updated are updated in Backup

Now export ride_id with wrong addresses

In [27]:
drp_station_id = [
    "530", "530", "534", "534", "535", "535", "536", "536", "537", "537", 
    "540", "540", "543", "543", "545", "545", "546", "546", "549", "549", 
    "553", "553", "554", "554", "556", "556", "557", "557", "559", "559", 
    "560", "560", "561", "561", "562", "562", "564", "564", "567", "567", 
    "569", "569", "570", "570", "571", "571", "572", "572", "573", "573", 
    "574", "574", "576", "576", "577", "577", "579", "579", "582", "582", 
    "583", "583", "584", "584", "585", "585", "586", "586", "587", "587", 
    "588", "588", "590", "590", "592", "592", "593", "593", "594", "594", 
    "595", "595", "596", "596", "599", "599", "600", "600", "604", "604", 
    "605", "605", "514", "514", "515", "515", "517", "517", "518", "518", 
    "519", "519", "520", "520", "523", "523", "525", "525", "527", "527", 
    "24156", "24156", "23114", "23114"
]

In [41]:
drp_df = df

In [45]:
drp_stn_list = [
    "23114", "24156", "514", "515", "517", "518", "519", "520", "523", "525", 
    "527", "530", "534", "535", "536", "537", "540", "543", "545", "546", "549", 
    "553", "554", "556", "557", "559", "560", "561", "562", "564", "567", "569", 
    "570", "571", "572", "573", "574", "575", "576", "577", "579", "582", "583", 
    "584", "585", "586", "587", "588", "590", "592", "593", "594", "595", "596", 
    "599", "600", "604", "605", "620", "623", "624", "631", "632", "636", "637", 
    "638", "639", "642", "643", "644", "646", "647", "649", "650", "651", "652", 
    "654", "655", "660", "661", "662", "665"
]

In [48]:
loc_id_dplct_locName = drp_df[(drp_df['start_station_id'].isin(drp_stn_list))
       | (drp_df['end_station_id'].isin(drp_stn_list))]

In [68]:
loc_id_dplct_locName.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Bad Data Extracted\loc_id_dstnct_loc_name.csv', sep=',', index = False)

In [67]:
loc_id_dplct_locName.reset_index(drop=True)

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
1,FF3261161BA70E87,electric_bike,member,0 days 00:12:41,2024-01-01 00:21:53,2024-01-01 00:34:34,Orleans St & Hubbard St,636,Aberdeen St & Jackson Blvd,13157,41.890026,-87.636607,41.877726,-87.654787
2,21D9A7E30B63CF71,electric_bike,member,0 days 00:12:50,2024-01-01 00:21:56,2024-01-01 00:34:46,Orleans St & Hubbard St,636,Aberdeen St & Jackson Blvd,13157,41.890001,-87.636628,41.877726,-87.654787
3,517A651C9D2FAB5B,classic_bike,member,0 days 00:04:57,2024-01-01 00:31:25,2024-01-01 00:36:22,Michigan Ave & 14th St,TA1307000124,Michigan Ave & 8th St,623,41.864059,-87.623727,41.872773,-87.623981
4,E47232A18495DFCB,classic_bike,casual,0 days 00:28:17,2024-01-01 00:42:30,2024-01-01 01:10:47,California Ave & 71st St,23140,Damen Ave & 59th St,561,41.764748,-87.693121,41.785861,-87.674144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260633,2A7F857EABC1888E,classic_bike,member,0 days 00:18:52,2024-12-31 23:18:40,2024-12-31 23:37:32,State St & 33rd St,13216,Michigan Ave & 8th St,623,41.834734,-87.625813,41.872773,-87.623981
260634,EDDCB2B148106EF2,classic_bike,casual,0 days 00:02:31,2024-12-31 23:22:01,2024-12-31 23:24:32,Clark St & Chicago Ave,13303,Orleans St & Chestnut St (NEXT Apts),620,41.896750,-87.630890,41.898203,-87.637536
260635,D82FAF5544D34BE7,classic_bike,member,0 days 00:19:40,2024-12-31 23:34:14,2024-12-31 23:53:54,Malcolm X College,631,Malcolm X College,631,41.877618,-87.673895,41.877618,-87.673895
260636,909A40EA871572A0,classic_bike,member,0 days 00:17:50,2024-12-31 23:38:19,2024-12-31 23:56:09,Michigan Ave & 8th St,623,Stetson Ave & South Water St,TA1308000029,41.872773,-87.623981,41.886835,-87.622320
260637,22FC766B46D86EE5,electric_bike,member,0 days 00:06:34,2024-12-31 23:40:21,2024-12-31 23:46:55,Clark St & Elmdale Ave,KA1504000148,Sheridan Rd & Columbia Ave,660,41.990860,-87.669724,42.004583,-87.661406

^ 260638 record exported

In [57]:
drp_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4186398 entries, 0 to 4186397
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   member_casual       object
 3   ride_duration       object
 4   started_at          object
 5   ended_at            object
 6   start_station_name  object
 7   start_station_id    object
 8   end_station_name    object
 9   end_station_id      object
 10  start_lat           float64
 11  start_lng           float64
 12  end_lat             float64
 13  end_lng             float64
dtypes: float64(4), object(10)
memory usage: 447.2+ MB

In [52]:
dropped_df = drp_df[(~drp_df['start_station_id'].isin(drp_stn_list))
       | (~drp_df['end_station_id'].isin(drp_stn_list))]

In [54]:
dropped_df.reset_index(drop=True)

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
1,70BDF49A30C8BFFC,classic_bike,casual,0 days 00:04:46,2024-01-01 00:02:15,2024-01-01 00:07:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800
2,B7F1F63BD1AFF4E9,classic_bike,member,0 days 00:10:22,2024-01-01 00:06:59,2024-01-01 00:17:21,Western Ave & Howard St,527,Clark St & Lunt Ave,KA1504000162,42.018901,-87.690048,42.009011,-87.674112
3,444DD0D82A50BA8C,classic_bike,casual,0 days 00:07:56,2024-01-01 00:07:45,2024-01-01 00:15:41,DuSable Lake Shore Dr & North Blvd,LF-005,Sedgwick St & Webster Ave,13191,41.911722,-87.626804,41.922167,-87.638888
4,510C1C0AA564ADF0,classic_bike,casual,0 days 00:21:45,2024-01-01 00:07:57,2024-01-01 00:29:42,Clinton St & Tilden St,13037,LaSalle St & Illinois St,13430,41.875885,-87.640795,41.890762,-87.631697
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4161795,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
4161796,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
4161797,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
4161798,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
4161799,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [60]:
dropped_df = dropped_df[~((dropped_df['start_station_id'].isin(drp_stn_list))
       | (dropped_df['end_station_id'].isin(drp_stn_list)))]

In [61]:
dropped_df.reset_index(drop=True, inplace=True)

In [62]:
dropped_df

,ride_id,rideable_type,member_casual,ride_duration,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,56F5C3ED5178C131,classic_bike,member,0 days 00:23:11,2024-01-01 00:01:01,2024-01-01 00:24:12,LaSalle St & Illinois St,13430,Indiana Ave & Roosevelt Rd,SL-005,41.890762,-87.631697,41.867888,-87.623041
1,70BDF49A30C8BFFC,classic_bike,casual,0 days 00:04:46,2024-01-01 00:02:15,2024-01-01 00:07:01,Sheffield Ave & Fullerton Ave,TA1306000016,Greenview Ave & Fullerton Ave,TA1307000001,41.925602,-87.653708,41.925330,-87.665800
2,444DD0D82A50BA8C,classic_bike,casual,0 days 00:07:56,2024-01-01 00:07:45,2024-01-01 00:15:41,DuSable Lake Shore Dr & North Blvd,LF-005,Sedgwick St & Webster Ave,13191,41.911722,-87.626804,41.922167,-87.638888
3,510C1C0AA564ADF0,classic_bike,casual,0 days 00:21:45,2024-01-01 00:07:57,2024-01-01 00:29:42,Clinton St & Tilden St,13037,LaSalle St & Illinois St,13430,41.875885,-87.640795,41.890762,-87.631697
4,EC853871645F0763,electric_bike,member,0 days 00:04:27,2024-01-01 00:08:11,2024-01-01 00:12:38,Wells St & Hubbard St,TA1307000151,Wells St & Walton St,TA1306000011,41.890102,-87.634225,41.899930,-87.634430
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3925755,D10276507FC2E40A,electric_bike,member,0 days 00:05:30,2024-12-31 23:52:49,2024-12-31 23:58:19,Clinton St & Tilden St,13037,Daley Center Plaza,TA1306000010,41.875885,-87.640795,41.884241,-87.629634
3925756,C8FBE8FBA3C157F1,electric_bike,casual,0 days 00:05:27,2024-12-31 23:54:01,2024-12-31 23:59:28,Michigan Ave & Jackson Blvd,TA1309000002,Stetson Ave & South Water St,TA1308000029,41.877768,-87.624164,41.886835,-87.622320
3925757,B14C678DEA55A583,electric_bike,member,0 days 00:02:42,2024-12-31 23:54:37,2024-12-31 23:57:19,Paulina St & 18th St,TA1307000159,Racine Ave & 18th St,13164,41.857901,-87.668745,41.858400,-87.656423
3925758,86CB9E2042DD6E4F,electric_bike,member,0 days 00:00:13,2024-12-31 23:56:38,2024-12-31 23:56:51,Dusable Harbor,KA1503000064,Dusable Harbor,KA1503000064,41.886976,-87.612813,41.886976,-87.612813
3925759,3E73BF87F0F0325A,electric_bike,member,0 days 00:00:51,2024-12-31 23:56:49,2024-12-31 23:57:40,Sheffield Ave & Fullerton Ave,TA1306000016,Sheffield Ave & Fullerton Ave,TA1306000016,41.925616,-87.653657,41.925616,-87.653657

In [63]:
backup = dropped_df

In [65]:
dropped_df.to_csv(r'D:\DATA SCIENCE\Data Analysis Projects\01. GDAPC\Case Study 1.1 Cyclistics Restarted\Good Data Stamp\v5_unique_loc_id_data.csv', sep=',', index=False)

In [69]:
import pandas as pd
from fuzzywuzzy import process, fuzz

# Group by start_station_id and collect unique names
station_groups = dropped_df.groupby('end_station_id')['end_station_name'].unique().reset_index()

# Check IDs with more than one unique name
station_groups['name_count'] = station_groups['end_station_name'].apply(len)
multiple_names = station_groups[station_groups['name_count'] > 1]

# Analyze name differences within each start_station_id
for index, row in multiple_names.iterrows():
    station_id = row['end_station_id']
    names = row['end_station_name']
    print(f"\n🚉 **Station ID:** {station_id}")
    
    # Compare names within the same station_id
    for name in names:
        matches = process.extract(name, names, limit=len(names), scorer=fuzz.token_sort_ratio)
        print(f"   Original: {name}")

In [70]:
import pandas as pd
from fuzzywuzzy import process, fuzz

# Group by start_station_id and collect unique names
station_groups = dropped_df.groupby('start_station_id')['start_station_name'].unique().reset_index()

# Check IDs with more than one unique name
station_groups['name_count'] = station_groups['start_station_name'].apply(len)
multiple_names = station_groups[station_groups['name_count'] > 1]

# Analyze name differences within each start_station_id
for index, row in multiple_names.iterrows():
    station_id = row['start_station_id']
    names = row['start_station_name']
    print(f"\n🚉 **Station ID:** {station_id}")
    
    # Compare names within the same station_id
    for name in names:
        matches = process.extract(name, names, limit=len(names), scorer=fuzz.token_sort_ratio)
        print(f"   Original: {name}")